* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0E0E0E;
    color: rgb(224, 219, 219);
}

.page {
    position: relative;
}

img {
    max-width: 100%;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 30px;
}

.burger {
    margin-right: 30px;
}

.logo,
.burger {
    height: 60px;
}

.content__1 {
    height: 30vh;
    width: 50%;
    margin: 100px;
}

.content__1 h1 {
    font-size: 50px;
}

.content__1 p {
    margin-top: 20px;
}

@media(max-width:750px) {

    .logo,
    .burger {
        height: 30px;
    }

    .c1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .content__1 {
        height: 40vh;
        width: 100%;
        margin: 0;
        position: relative;
    }

    .content__1 h1 {
        
        font-size: 39px;
    }

    .content__1 p {
        text-align: center;
        width: 85%;
        font-size: 14px;
    }

}

.img__container__1 {
    display: grid;
    margin: 0 50px 0 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.top {
    margin-bottom: 100px;
}

@media(max-width:798px) {
    .img__container__1 {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }
    .img__container__1 img {
        max-width: 100%;
    }
    .top{
        margin: 0;
    }
}

.content__2 {
    height: 30vh;
    margin: 100px;
    width: 80%;
}

.content__2 h1 {
    font-size: 50px;
}

.content__2 p {
    margin-top: 20px;
}

.img__container__2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img__container__2 img {
    padding: 50px;
}

@media(max-width:750px) {

    .c2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__2 {
        height: 40vh;
        width: 100%;
        margin: 0;
        position: relative;
    }

    .content__2 h1 {
        font-size: 39px;
    }

    .content__2 p {
        text-align: center;
        width: 85%;
        font-size: 14px;
    }
}

.footer {
    position: absolute;
    height: 12vh;
    width: 100%;
}

.footer h1 {
    margin: 20px auto;
    width: max-content;
    color: grey;
    letter-spacing:8px;
    font-size: 15px;
}